.portfolio li {
    display: inline-block;
    width: 45%;
    border: 8px solid black;
    background-color: #FAFFFC;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
}

.portfolio img {
    width: 100%;
}